/* For Tablets */
@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
    .header-left{
      font-size: 25px; 
    }
  }
  
  /* For Smartphones */
  @media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: center;
    }

    .header-left{
      font-size: 23px; 
    }
    
  /* Add CSS for header-right */
    .header-right {
      display: none;
    }
    
    /* Add CSS for menu-icon */
    .menu-icon {
      display: block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
    input, textarea{
      width: 330px;
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 20px;
      font-size: 14px;
      border:1px solid #778899;
    }
  }
